.modal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 9999;
  background: yellow;
}

.backdrop {
  position: 'absolute'; 
  width: '100%';
  height: '100%';
  top: '0px';
  left: '0px';
  z-index: '9998';
  background: 'rgba(0, 0, 0, 0.3)'
}