html {
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3px;
  background:#666;
  color:#fff;
}

#title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

#addNoteContainer {
  float: right;
  margin-bottom: 10px;
}

#addNoteContainer button {
  background-color: lightblue;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#addNoteContainer button:hover {
  background-color: purple;
  color: white,
}

#deleteNoteContainer {
  float: right;
}

.deleteNoteButton {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  float: right;
}