/* Variables / Reusable Styles */
$font-color: #000000;
$font: 'Indie Flower', cursive;
$moz-box: 5px 5px 7px rgba(33,33,33,1);
$webkit-box: 5px 5px 7px rgba(33,33,33,.7);
$rotate: rotate(-6deg);
$rotate-evens: rotate(4deg);
$nth-rotate: rotate(-3deg);
$moz-trans: -moz-transform 1s ease-in-out;
$ms-trans: -ms-transform 1s ease-in-out;
$opera-trans: -o-transform 1s ease-in-out;
$webkit-trans: -webkit-transform 1s ease-in-out;
$hover-shadow: 10px 10px 7px rgba(0,0,0,.7);
$scale: scale(2);

/* Unique Browser Keyframes to Animate Note */

@-webkit-keyframes rotate {
  0% { -webkit-transform:scale(1) rotate(0deg); }
  100% {-webkit-transform:scale(2) rotate(360deg); }
}

@-moz-keyframes rotate {
  0% { transform:scale(1) rotate(0deg); }
  100% {transform:scale(2) rotate(360deg); }
}

@-o-keyframes rotate {
  0% { transform:scale(1) rotate(0deg); }
  100% {transform:scale(2) rotate(360deg); }
}

@keyframes rotate {
  0% { transform:scale(1) rotate(0deg); }
  100% {transform:scale(2) rotate(360deg); }
}

@-webkit-keyframes note {
  100% {background-color: lightseagreen;}
}
@-moz-keyframes note {
  100% {background-color: lightseagreen;}
}
@-o-keyframes note {
  100% {background-color: lightseagreen;}
}
@keyframes note {
  100% {background-color: lightseagreen;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#listContainer {
  display: inline-block;
}

#listContainer li {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: $font-color;

  height:8em;
  width:8em;
  padding:1em;
  display: inline-block;
  margin-left: 35px;
  margin-bottom: 35px;

  text-decoration:none;
  text-align: center;
  overflow-y: auto;

  /* Specific Browser Shadows, Transforms, & Transitions */
  -webkit-box-shadow: $webkit-box;
  -moz-box-shadow: $moz-box;
  -o-box-shadow: $webkit-box;
  -ms-box-shadow: $webkit-box;
  box-shadow: $webkit-box;
  -webkit-transform: $rotate;
  -moz-transform: $rotate;
  -o-transform: $rotate;
  -ms-transform: $rotate;
  transform: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transition: $webkit-trans;
  -moz-transition: $moz-trans;
  -o-transition: $opera-trans;
  -ms-transition: $ms-trans;
  transition: .15 linear;
}

#listContainer li:nth-child(even) {
  position:relative;
  top:5px;
  background:#cfc;

  /* Specific Browser Transforms  */
  -webkit-transform: $rotate-evens;
  -moz-transform: $rotate-evens;
  -o-transform: $rotate-evens;
  -ms-transform: $rotate-evens;
  transform: $rotate-evens;
}

#listContainer li:nth-child(4n) {
  position:relative;
  top:5px;
  background: #ffc;

  /* Specific Browser Transforms  */
  -webkit-transform: $rotate-evens;
  -moz-transform: $rotate-evens;
  -o-transform: $rotate-evens;
  -ms-transform: $rotate-evens;
  transform: $rotate-evens;
}

#listContainer li:nth-child(odd) {
  position:relative;
  top:-5px;
  background: pink;

  /* Specific Browser Transforms */
  -webkit-transform: $nth-rotate;
  -moz-transform: $nth-rotate;
  -o-transform: $nth-rotate;
  -ms-transform: $nth-rotate;
  transform: $nth-rotate;
}

#listContainer li:nth-child(5n) {
  position:relative;
  top:-5px;
  background:#ccf;

  /* Specific Browser Transforms */
  -webkit-transform: $nth-rotate;
  -moz-transform: $nth-rotate;
  -o-transform: $nth-rotate;
  -ms-transform: $nth-rotate;
  transform: $nth-rotate;
}

#listContainer li:hover, #listContainer li:focus {
  z-index:5;
  background-color: lightseagreen;

  /* Spepcific Browser Shadows & Transforms */
  box-shadow: $hover-shadow;
  -moz-box-shadow: $hover-shadow;
  -webkit-box-shadow: $hover-shadow;
  transform: $scale;
  -webkit-transform: $scale;
  -moz-transform: $scale;
  -o-transform: $scale;
  -ms-transform: $scale;

  
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;


  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: rotate;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-name: rotate;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-in-out;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#listContainer li:hover:nth-child(n+6), li:focus:nth-child(n+6) {
  /* Alternate Origin for Edge Considerations */
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

#listContainer li:hover:nth-child(6n), li:focus:nth-child(6n) {
  /* Alternate Origin for Edge Considerations */
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

#listContainer li:hover:nth-child(7n), li:focus:nth-child(7n) {
  /* Alternate Origin for Edge Considerations */
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

#listContainer p {
  margin-top: 50px;
  overflow-wrap: break-word;
}

.topBar {
  display: inline;
  margin: 0;
  padding: 0;
}

.topBar img {
  position: absolute;
  margin: 0 auto;
  top: 0;
  height: 75px;
  perspective: 1000px;
}

.topBar a {
  position: absolute;
  top: 5;
  right: 10;

  font-size: 35px;
  color: black;
  text-decoration: none;
  text-shadow: 0 1px 0 #000000;
}